*
!.gitignore
!README.md
!LICENSE.md

# Node Modules
!package-lock.json
!package.json
!node_modules/
!node_modules/**

# Allow dev mods folders
!development_behavior_packs/
!development_resource_packs/

# Ignore everything inside them
development_behavior_packs/*
development_resource_packs/*

# Allow only Arx folders
!development_behavior_packs/ARX BP/
!development_behavior_packs/ARX BP/**
!development_resource_packs/ARX RP/
!development_resource_packs/ARX RP/**